:root {
    --size:480px;
    --player1color:blue;
    --player2color:red;
    --player3color:green;
    --player4color:yellow;
}

main {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top:10px;
}
#gamearea table {
    width:var(--size);
    height:var(--size);
    border-collapse:collapse;
    table-layout:fixed;
    /* margin:0 5000px; */
}
#gamearea td {
    border:3px solid black;
    text-align:center;
    user-select:none;
}

.player0cell {
    background-color:gray;
}
.player1cell {
    background-color:var(--player1color);
}
.player2cell {
    background-color:var(--player2color);
}
.player3cell {
    background-color:var(--player3color);
}
.player4cell {
    background-color:var(--player4color);
}

.selected {
    filter:brightness(200%);
}

.movable {
    filter:brightness(120%);
}
.attackable {
    filter:brightness(120%);
}
.movable:hover {
    filter:brightness(160%);
    cursor:move;
}
.attackable:hover {
    filter:brightness(160%);
    cursor:crosshair;
}

form {
    padding:15px;
    margin:15px;
    border:3px solid chartreuse;
    border-radius:20px;
    max-width:300px;
}
form > * {
    margin:5px;
}
.centercontent {
    text-align:center;
}

#playernum {
    width:100px;
}
.player1select {
    background-color:var(--player1color);
}
.player2select {
    background-color:var(--player2color);
}
.player3select {
    background-color:var(--player3color);
}
.player4select {
    background-color:var(--player4color);
}
.player1option {
    background-color:var(--player1color);
}
.player2option {
    background-color:var(--player2color);
}
.player3option {
    background-color:var(--player3color);
}
.player4option {
    background-color:var(--player4color);
}